body {
	margin: 10px;
	background-color: FloralWhite;
}

.home {
	display:flex;
}

.home-text {
	padding: 25px;
}

.count {
    text-align: center;
    font-size: 125%;
}

.favorite-parks img {
    height: 30%;
    width: auto;
    padding: 1.5em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.detailHeader h1{
	font-family: Teko;
	font-size: 50px;
	
}
.weather {
	color: black;
	/* background-image: url(https://ak9.picdn.net/shutterstock/videos/17505139/thumb/1.jpg); */
	background-repeat: no-repeat;
	background-size: 1600px 500px;
	float: center;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
	background-color: white;
	border-radius: 45px;
 
}
#big{
	font-family: Russo One|, cursive;
}
.temperatureAdvisory{
	font-family: Cinzel;
}

.weather-lg img {
	width: 35%;
	border-radius: 35px;
}

.weather-sm img {
	width: 70%;
}
.topHalf{
	display: flex;
}

.detailPic img{
	width: 100%;
}
.detailPic{
	width: 40%;
}
.parkInformation h4{
	font-weight: bold;
}
.parkInformation{
	
	width:40%;
	margin-left: 50px;
	
}
.detailInfo h4{
	text-align: center;
}
.quote{
	font-family: 'Dancing Script';
	text-align: center;
	font-size: 20px;
}
.detailDescription{

	
	text-align: center;
	padding: 30px;
	font-size: 20px;
}
.detailInfo{
	justify-content: space-evenly;
	display: flex;
}
.temp-buttons{

	float: center;
margin-left: 820px;
padding-top: 40px;

}

#header-logo {
	width: 30%;
}

#footer-text {
	font-size: 75%;	
}
.quote{
font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 20px;
}